---
permalink: /
---
<!DOCTYPE html>
<html>
{% include head.html %}

<body>
{% include nav.html %}

<div class="ui main container">
    <div class="ui icon warning message transition">
        <i class="warning icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                最近监测到大量来自 raspbian 用户的404错误
            </div>
            请注意 raspbian 的同步地址应为： http://mirrors.cugbteam.org/raspbian/raspbian/
        </div>
    </div>
    <table class="ui grey table">
        <thead>
        <tr>
            <th colspan="3">
                文件列表
            </th>
        </tr>
        <tr>
            <th>镜像名</th>
            <th>更新时间</th>
            <th>帮助文档</th>
        </tr>
        </thead>
        <tbody>
        {% for m in site.data.mirrors %}
        <tr>
            <td>
                <a href="/{{m.folder}}">{{m.folder}}</a>
            </td>
            <td>{{m.update}}</td>
            <td>
                {% if m.help != '' %}
                <a href="{{m.help}}"><i class="help circle icon"></i></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include footer.html %}
</body>
</html>