---
permalink: /
---
<!DOCTYPE html>
<html>
{% include head.html %}

<body>
{% include nav.html %}
{% assign help_pages = (site.categories["help"] | sort: 'mirrorid') %}
<div class="ui main container">
    {% if site.data.info.content %}
    <div class="ui icon {{site.data.info.category}} message transition">
        <i class="{{site.data.info.icon}} icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                {{site.data.info.header}}
            </div>
            {{site.data.info.content}}
        </div>
    </div>
    {% endif %}
    <table class="ui grey table">
        <thead>
        <tr>
            <th colspan="3">
                文件列表
            </th>
        </tr>
        <tr>
            <th>镜像名</th>
            <th>更新时间</th>
            <th>帮助文档</th>
        </tr>
        </thead>
        <tbody>
        {% for m in site.data.mirrors %}
        <tr>
            <td>
                <a href="/{{m.folder}}">{{m.folder}}</a>
            </td>
            <td>{{m.update}}</td>
            <td>
                {% for h in help_pages %}
                {% if m.folder == h.mirrorid %}
                <a href="/help/{{m.folder}}"><i class="help circle icon"></i></a>
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include footer.html %}
</body>
</html>
