---
permalink: /news/
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include nav.html %}
<div id="news-content" class="ui main text container">
    {% for news in site.categories.news %}
    <article class="ui container segment">
        <div id="{{news.slug}}">
            <h2><i class="hashtag icon"></i> {{news.title}}</h2>
        </div>
        <div>
            <i class="calendar icon"></i> {{news.date | date: "%Y-%m-%d"}}
            <i class="user icon" style="margin-left: 1em"></i> {{ news.author }}
        </div>
        <div class="ui divider"></div>
        <div>{{news.content | markdownify }}</div>
    </article>
    {% if news != site.categories.news.last %}
        <div class="ui horizontal divider">EOF</div>
    {% endif %}
    {% endfor %}
</div>
{% include footer.html %}
</body>
</html>
