<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p>CUGBLUG</p>
            </div>

            <div class="col-lg-4">
                <h4>Contact Us</h4>
                <div>
                    <ul class="social">
                        <li>
                            <a href="https://groups.google.com/forum/#!forum/tuna-general"><i
                                    class="fa fa-envelope"></i> Mailing List</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <img class="img-responsive" src="/static/img/logo-white.png"/>
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div><!--/footerwrap -->

<script>
    WebFont.load({
        custom: {
            families: ['Lato']
        }
    });
</script>
