<div class="ui inverted grey vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">联系我们</h4>
                <div class="ui inverted link list">
                    <a href="mailto:cugblug@googlegroups.com" class="item">CUGBLUG 邮件列表</a>
                    <a href="//git.cugbteam.org/cugblug/mirror-add/issues" class="item">新镜像申请</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">CUGBLUG旗下服务</h4>
                <div class="ui inverted link list">
                    <a href="/" class="item">CUGB 镜像源</a>
                    <a href="//git.cugbteam.org" class="item">GitCUGB</a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header">CUGBLUG</h4>
                <p>CUGB LUG 是由中国地质大学（北京）开源软件爱好者组成的团体，旨在地大宣传开源思想，推广开源精神，为开源技术发展做出自己的贡献。</p>
            </div>
        </div>
    </div>
</div>
<script>
    $('.message .close')
            .on('click', function () {
                $(this)
                        .closest('.message')
                        .transition('fade')
                ;
            })
    ;
</script>