<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description"
          content="中国地质大学（北京）开源镜像站，致力于为国内和校内用户提供高质量的开源软件镜像、Linux镜像源服务，帮助用户更方便地获取开源软件。本镜像站由CUGBLUG团队负责维护。">
    <meta name="keywords" content="镜像站,镜像源,Linux,软件源,开源">
    <meta name="author" content="CUGBLUG">
    <title>中国地质大学（北京）镜像源 | CUGB Open Source Mirror</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
    <script src="/static/js/jquery-3.1.0.min.js"></script>
    <script src="/static/semantic/semantic.min.js"></script>
    <script src="/static/js/markup.min.js"></script>
    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }

        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }

        .main.container {
            margin-top: 7em;
        }

        .wireframe {
            margin-top: 2em;
        }

        .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
        }
    </style>
</head>
