{% assign help_pages = (site.categories["help"] | sort: 'mirrorid') %}
<div class="ui fixed grey inverted menu">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo" src="/static/cugblug-logo-32x32.png">
            CUGB Mirrors
        </a>
        <a href="/" class="item">首页</a>
        <a href="/news" class="item">新闻</a>
        <a href="//git.cugbteam.org" class="item">GitCUGB</a>
        <div class="ui simple dropdown item">
            帮助 <i class="dropdown icon"></i>
            <div class="menu">
                {% for h in help_pages %}
                <a class="item" href="{{h.url}}">{{h.mirrorid}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>